{% extends "./blocks/layout.html" %}
{% block content %}
<div class="main campusMain">
    <!-- 메인베너 -->
    <div class="mainbanner">
        <!-- <img src="/img/etc/@main-banner.jpg" alt=""> -->
        <div class="innner">
            <ul>
                <li class="on"><a href="" title="이벤트1">이벤트1</a>
                    <div>
                        <img src="/img/etc/@main-banner.jpg" alt="" />
                    </div>
                  </li>
                <li><a href="" title="이벤트2">이벤트1</a>
                    <div>
                        <img src="/img/etc/@main-banner.jpg" alt="" />
                    </div>
                </li>
                <li><a href="" title="이벤트3">이벤트1</a>
                    <div>
                        <img src="/img/etc/@main-banner.jpg" alt="" />
                    </div>
                </li>
                <li><a href="" title="이벤트3">이벤트1</a>
                    <div>
                        <img src="/img/etc/@main-banner.jpg" alt="" />
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <!-- 메인베너 끝 -->
    <div class="lnb-course">
        <div class="inner">
            <ul>
                <li>
                    <a href="#" class="hover-red">
                        <span class="img-box"><img src="/img/icon/icon_lnb1.png" alt="웹 디자인 아이콘" /></span>
                        <span class="txt-box">웹 디자인</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="hover-navy">
                        <span class="img-box"><img src="/img/icon/icon_lnb2.png" alt="웹 퍼블리싱 아이콘" /></span>
                        <span class="txt-box">웹 퍼블리싱</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="hover-grey">
                        <span class="img-box"><img src="/img/icon/icon_lnb3.png" alt="웹 개발 아이콘" /></span>
                        <span class="txt-box">웹 개발</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="hover-green">
                        <span class="img-box"><img src="/img/icon/icon_lnb4.png" alt="전산세무/회계 아이콘" /></span>
                        <span class="txt-box">전산세무/회계</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="hover-red">
                        <span class="img-box"><img src="/img/icon/icon_lnb5.png" alt="편집/출판디자인 아이콘" /></span>
                        <span class="txt-box">편집/출판디자인</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="hover-navy">
                        <span class="img-box"><img src="/img/icon/icon_lnb6.png" alt="영상 아이콘" /></span>
                        <span class="txt-box">영상</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="hover-grey">
                        <span class="img-box"><img src="/img/icon/icon_lnb7.png" alt="캐드 아이콘" /></span>
                        <span class="txt-box">캐드</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="hover-green">
                        <span class="img-box"><img src="/img/icon/icon_lnb8.png" alt="인테리어 아이콘" /></span>
                        <span class="txt-box">인테리어</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="hover-red">
                        <span class="img-box"><img src="/img/icon/icon_lnb9.png" alt="OA 아이콘" /></span>
                        <span class="txt-box">OA</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <!-- lnb-course end -->

    <div class="info-bar">
        <div class="notice">
            <span>NOTICE &amp; EVENT</span>
            <ul class="rolling">
                <li class="on"><a href="#">1.하이미디어의 천호캠퍼스 오픈!</a></li>
                <li><a href="#">2.하이미디어의 천호캠퍼스 오픈!</a></li>
                <li><a href="#">3.하이미디어의 천호캠퍼스 오픈!</a></li>
                <li><a href="#">4.하이미디어의 천호캠퍼스 오픈!</a></li>
                <li><a href="#">5.하이미디어의 천호캠퍼스 오픈!</a></li>
            </ul>
        </div>
        <div class="online-counsel">
            <a href="#">
                <span>온라인상담 <span class="fw-normal">바로 가기</span></span>
            </a>
        </div>
        <div class="tel">
            <dl>
                <dt>강남  <span class="tel_num">02-3478-0008</span></dt>
                <dd>강남  <span class="tel_num">02-3478-0008</span></dd>
                <dd>종로1 <span class="tel_num"> 02-723-0008</span></dd>
                <dd>종로2 <span class="tel_num"> 02-723-0008</span></dd>
                <dd>신촌  <span class="tel_num">02-364-0008</span></dd>
                <dd>구로  <span class="tel_num">02-3667-0008</span></dd>
                <dd>노원  <span class="tel_num">02-951-0008</span></dd>
                <dd>천호  <span class="tel_num">02-479-0009</span></dd>
                <dd>안양  <span class="tel_num">031-447-1414</span></dd>
                <dd>안산  <span class="tel_num">031-487-1414</span></dd>
                <dd>성남  <span class="tel_num">031-736-0008</span></dd>
                <dd>수원  <span class="tel_num">031-247-1414</span></dd>
                <dd>인천  <span class="tel_num">032-515-8279</span></dd>
                <dd>전주  <span class="tel_num">063-251-600</span></dd>
            </dl>
        </div>
    </div>
    <!-- info-bar end -->

    <div class="contents">
        <section class="best">
            <div class="section-title">
                <div class="bg"><b>B</b></div>
                <div class="text-box">
                    <p class="tit">Best curriculum</p>
                    <p class="sub">하이미디어의 <span class="bold">베스트 커리큘럼</span>을 소개합니다.</p>
                </div>
            </div>
            <div class="items">
                <a href="#" class="hit">
                    <span class="name">NCS 디지털<br>UI/UX디자인</span>
                    <span class="details">
                        <span>
                            <p class="text1">전액무료</p>
                            <p class="text2">수강료+교재비 무료</p>
                        </span>
                        <span>
                            <p class="text1">41만6천원</p>
                            <p class="text2">훈련 장려금 월 최대<br>41만 6천원 지원</p>
                        </span>
                        <span>
                            <p class="text1">1020h</p>
                            <p class="text2">7개월</p>
                        </span>
                        <span>
                            <button type="button" class="btn-click">click</button>
                        </span>
                    </span>
                </a>
                <a href="#">
                    <span class="name">NCS 디지털<br>UI/UX디자인</span>
                    <span class="details">
                        <span>
                            <p class="text1">전액무료</p>
                            <p class="text2">수강료+교재비 무료</p>
                        </span>
                        <span>
                            <p class="text1">41만6천원</p>
                            <p class="text2">훈련 장려금 월 최대<br>41만 6천원 지원</p>
                        </span>
                        <span>
                            <p class="text1">1020h</p>
                            <p class="text2">7개월</p>
                        </span>
                        <span>
                            <button type="button" class="btn-click">click</button>
                        </span>
                    </span>
                </a>
                <a href="#">
                    <span class="name">NCS 디지털<br>UI/UX디자인</span>
                    <span class="details">
                        <span>
                            <p class="text1">전액무료</p>
                            <p class="text2">수강료+교재비 무료</p>
                        </span>
                        <span>
                            <p class="text1">41만6천원</p>
                            <p class="text2">훈련 장려금 월 최대<br>41만 6천원 지원</p>
                        </span>
                        <span>
                            <p class="text1">1020h</p>
                            <p class="text2">7개월</p>
                        </span>
                        <span>
                            <button type="button" class="btn-click">click</button>
                        </span>
                    </span>
                </a>
            </div>
        </section>
        <section class="snslink main">
            <div class="section-title">
                <p class="tit"><span class="bold">PEOPLE<span class="img-love">love</span>US</span></p>
                <p class="sub">하이미디어 최신 소식을 <span class="bold">소셜네트워크</span>에서 만나보세요!</p>
            </div>
            <ul>
                <li class="youtube"><a href="#">하이미디어 유튜브로 링크 연결</a></li>
                <li class="facebook"><a href="#">하이미디어 페이스북으로 링크 연결</a></li>
                <li class="instagram"><a href="#">하이미디어 인스타그램으로 링크 연결</a></li>
                <li class="twitter"><a href="#">하이미디어 트위터로 링크 연결</a></li>
            </ul>
        </section>
    </div>
</div>


{% endblock %}
