{% extends "./blocks/layout.html" %}
{% block content %}
<div class="history">
    <!-- 본문 -->
    <div class="contents">
        <!-- 서브 네비 -->
        <div class="sub-navi">
            <a href="#"><span class="glyphicon glyphicon-home" aria-hidden="true"></span></a><span>&#183;</span>
            <span>하이미디어</span><span>&#183;</span>
            <span class="this-page">연혁</span>
        </div>
        <!-- // 서브 네비 -->

        <!-- 대제목 -->
        <div class="title-l">
            <div class="bg">History</div>
            <div class="text-box">
                <h1>하이미디어 연혁</h1>
                <p>하이미디어 컴퓨터학원을 소개합니다.</p>
            </div>
        </div>
        <!-- // 대제목 -->

		<!-- 탭부분 -->
		<div class="tab tab-sub">
		    <ul>
		        <li><a href="intro.html">하이미디어 소개</a></li>
		        <li class="on"><a href="#">연혁</a></li>
		        <li><a href="identity.html">CI&amp;BI</a></li>
		    </ul>
		</div>
		<!-- // 탭부분 -->

		<div class="historyWrap common_wrap">
			<div class="history_year">
			</div>
			<div class="history_cont">
				<div class="left wow fadeInLeft">
                    <span class="notice_bar"></span>
					<p class="year">2014</p>
					<div class="real_cont">
						<p><span>-한경BUSINESS주관 컴퓨터학원 부문 고객이</span><span>신뢰하는 브랜드대상 2년연속 수상</span></p>
						<p><span>-훈련기관 평가결과 종로 제1캠퍼스 우수훈련기관 선정</span></p>
						<p><span>-직업능력개발 훈련기관 평가결과 종로캠퍼스 B등급</span></p>
						<p><span>-직업능력개발 훈련기관 평가결과 수원캠퍼스 B등급</span></p>
						<p><span>-직업능력개발 훈련기관 평가결과 안양캠퍼스 B등급</span></p>
						<p><span>-직업능력개발 훈련기관 평가결과 안산 제2캠퍼스 B등급</span></p>
						<p><span>-직업능력개발 훈련기관 평가결과 안산 제1캠퍼스 C등급</span></p>
						<p><span>-직업능력개발 훈련기관 평가결과 성남캠퍼스 C등급</span></p>
						<p><span>-직업능력개발 훈련기관 평가결과 부평캠퍼스 C등급</span></p>
						<p><span>-직업능력개발 훈련기관 평가결과 부산캠퍼스 C등급</span></p>
						<p><span>-온라인 취업포털 사이트‘사람인’과 MOM 체결</span></p>
						<p><span>-국가직무능력표준(NCS) 훈련과정실무</span></p>
						<p><span>-훈련기관 평가결과 안산 제2캠퍼스 우수훈련기관 선정</span></p>
						<p><span>-NCS훈련과정 개발 </span></p>
					</div>
				</div>
				<div class="right wow fadeInRight">
                    <span class="notice_bar"></span>
					<p class="year">2013</p>
					<div class="real_cont">
						<p><span>-한경BUSINESS주관 컴퓨터학원 부문 고객이 신뢰하는 브랜드대상 수상</span></p>
						<p><span>-홈페이지 전면 리뉴얼</span></p>
						<p><span>-한국세무사회 국가공인시험센터 유치</span></p>
						<p><span>-2014년 직업능력개발 계좌제 (ETPL) - 적합훈련과정(148개) 심사신청</span></p>
						<p><span>-인덕대학교, 서일대학교, 명지대학교 위탁교육 실시</span></p>
						<p><span>- 직업능력개발 훈련기관 평가결과 구로캠퍼스 B등급</span></p>
						<p><span>-직업능력개발 훈련기관 평가결과 노원캠퍼스 B등급</span></p>
						<p><span>-직업능력개발 훈련기관 평가결과 신촌캠퍼스 B등급</span></p>
						<p><span>-직업능력개발 훈련기관 평가결과 종로캠퍼스 B등급</span></p>
						<p><span>-직업능력개발 훈련기관 평가결과 강남캠퍼스 B등급</span></p>
						<p><span>-GTQ 시험센터 유치 </span></p>
					</div>
				</div>
				<div class="left wow fadeInLeft">
                    <span class="notice_bar"></span>
					<p class="year">2012</p>
					<div class="real_cont">
						<p><span>-㈜제니엘 취업지원 업무제휴</span></p>
						<p><span>-검찰청 컴퓨터실무 위탁교육 실시</span></p>
						<p><span>-하이미디어컴퓨터학원 청주캠퍼스 개원</span></p>
						<p><span>-ACA국제공인 시험센터 유치</span></p>
						<p><span>-하이미디어컴퓨터학원 종로 제2캠퍼스 확장 이전</span></p>
						<p><span>-노동부실업자훈련 계좌제과정 62개 과정승인</span></p>
					</div>
				</div>
				<div class="right wow fadeInRight">
                    <span class="notice_bar"></span>
					<p class="year">2011</p>
					<div class="real_cont">
						<p><span>-하이미디어컴퓨터학원 안양 제2캠퍼스 개원</span></p>
						<p><span>-재외동포 산업기술 연수실시</span></p>
						<p><span>-내일배움카드제 취약계층훈련실시</span></p>
						<p><span>-한국청소년육성연맹 광명시협회 장학위원위촉</span></p>
						<p><span>-비즈뱅크 주관 1인 창조기업 비지니스카드제 지정학원 </span></p>
					</div>
				</div>
				<div class="left wow fadeInLeft">
                    <span class="notice_bar"></span>
					<p class="year">2010</p>
					<div class="real_cont">
						<p><span>-노동부실업자훈련계좌제과정40개과정승인</span></p>
						<p><span>-파인드잡 취업연계업무협약 체결</span></p>
						<p><span>-은평청소년수련관 주관 '2010 청소년진로체험박람회' 참관</span></p>
						<p><span>-주)엠제이플렉스(디자이너잡) 취업연계업무협약 체결</span></p>
						<p><span>-(주)사람과기술 취업연계업무협약 체결</span></p>
						<p><span>-사단법인 국제정보능력평가원 취업업무협약 체결</span></p>
						<p><span>-하이미디어컴퓨터학원 종로캠퍼스 확장 이전</span></p>
						<p><span>-하이미디어컴퓨터학원 인천캠퍼스 개원</span></p>
						<p><span>-하이미디어컴퓨터학원 안산제2캠퍼스 개원</span></p>
						<p><span>-하이미디어컴퓨터학원 부천캠퍼스 개원</span></p>
						<p><span>-하이미디어컴퓨터학원 대전캠퍼스 개원</span></p>
						<p><span>-하이미디어컴퓨터학원 수원캠퍼스 개원</span></p>
						<p><span>-하이미디어컴퓨터학원 성남캠퍼스 개원</span></p>
						<p><span>-하이미디어컴퓨터학원 대전 둔산캠퍼스 개원 </span></p>
					</div>
				</div>
				<div class="right wow fadeInRight">
                    <span class="notice_bar"></span>
					<p class="year">2009</p>
					<div class="real_cont">
						<p><span>-종로ELS YBM어학원업무제휴 </span></p>
						<p><span>-종로e4u YBM어학원업무제휴 </span></p>
						<p><span>-MCAS,ACA,IC3지정센터체결</span></p>
						<p><span>-노동부실업자훈련계좌제과정19개과정승인</span></p>
						<p><span>-하이미디어컴퓨터학원 신촌캠퍼스 개원</span></p>
						<p><span>-서울산업대학교산학협력체결</span></p>
						<p><span>-삼육대학교산학협력체결</span></p>
						<p><span>-하이미디어컴퓨터학원 안양캠퍼스 개원</span></p>
						<p><span>-2009 웹어워드코리아 참가</span></p>
						<p><span>-경민대학교산학협력체결 </span></p>
					</div>
				</div>
				<div class="left wow fadeInLeft">
                    <span class="notice_bar"></span>
					<p class="year">2008</p>
					<div class="real_cont">
						<p><span>-㈜리크루트 업무 제휴</span></p>
						<p><span>-하이미디어 컴퓨터학원 종로2캠퍼스 개원</span></p>
						<p><span>-네셔널지오그래픽 후원</span></p>
						<p><span>-㈜메이크샵 업무 제휴</span></p>
						<p><span>-동아일보 주관 TIQ공인교육센터 지정</span></p>
						<p><span>-동아일보 주관 TIQ공인시험센터 지정 </span></p>
					</div>
				</div>
				<div class="right wow fadeInRight">
                    <span class="notice_bar"></span>
					<p class="year">2007</p>
					<div class="real_cont">
						<p><span>-CGV 업무제휴</span></p>
						<p><span>-2007년 실무진 초빙세미나 제 1탄 전장, 그 중심에 서기전 주최</span></p>
						<p><span>-2007년 실무진 초빙세미나 제 2탄 위대한 이갸기 속으로 주최</span></p>
						<p><span>-2007 고객만족 서비스 파워브랜드 선정</span></p>
						<p><span>-하이미디어 컴퓨터학원 노원캠퍼스 개원</span></p>
						<p><span>-한국디자인진흥원 주최 2007년 디자인대학 박람회 참관</span></p>
					</div>
				</div>
				<div class="left wow fadeInLeft">
                    <span class="notice_bar"></span>
					<p class="year">2006</p>
					<div class="real_cont">
						<p><span>-하이미디어 컴퓨터학원 강남캠퍼스 확장 이전</span></p>
						<p><span>-㈜하이미디어 컴퓨터학원 근로자수강지원금 과정 개설</span></p>
						<p><span>-YBM어학원 주최 MOS공인교육센터 지정</span></p>
						<p><span>-YBM어학원 주최 MOS공인시험센터 지정</span></p>
						<p><span>-DAMIAN GASCIOINGE 초빙 세미나 주최</span></p>
						<p><span>-노동부 주최, 한국산업인력공단 주관 직업훈련 자격 박람회 참관</span></p>
					</div>
				</div>
				<div class="right wow fadeInRight">
                    <span class="notice_bar"></span>
					<p class="year">2005</p>
					<div class="real_cont">
						<p><span>-㈜하이미디어 컴퓨터학원 선호도 우수업체 선정</span></p>
						<p><span>-하이미디어 컴퓨터학원 종로캠퍼스 개원</span></p>
						<p><span>-㈜하이미디어 컴퓨터학원 취업보도실 오픈</span></p>
						<p><span>-애듀패스 사이버 캠퍼스 온라인동영상 사이트 오픈</span></p>
						<p><span>-하이미디어 컴퓨터학원 강남 제2캠퍼스 개원</span></p>
						<p><span>-하이미디어 컴퓨터학원 안산캠퍼스 개원 </span></p>
					</div>
				</div>
				<div class="left wow fadeInLeft">
                    <span class="notice_bar"></span>
					<p class="year">2004</p>
					<div class="real_cont">
						<p><span>-㈜하이미디어 컴퓨터학원 강남점 재직자과정 개설</span></p>
						<p><span>-㈜하이미디어 컴퓨터학원 선호도 우수업체 선정</span></p>
						<p><span>-㈜하이미디어 컴퓨터학원 취업보도실 사이트리뷰</span></p>
						<p><span>-㈜하이미디어 컴퓨터학원 2004년 공모전 진행 </span></p>
					</div>
				</div>
				<div class="right wow fadeInRight">
                    <span class="notice_bar"></span>
					<p class="year">2003</p>
					<div class="real_cont">
						<p><span>-㈜하이미디어 컴퓨터학원 재직자과정 개설</span></p>
						<p><span>-하이미디어 컴퓨터학원 강남캠퍼스 개원</span></p>
						<p><span>-AUTO DESK사 공인교육기관 인증 </span></p>
					</div>
				</div>
				<div class="left wow fadeInLeft">
                    <span class="notice_bar"></span>
					<p class="year">2002</p>
					<div class="real_cont">
						<p><span>-㈜하이미디어 컴퓨터학원 법인설립</span></p>
						<p><span>-서울시 구로구 지정 고용촉진 훈련기관 선정</span></p>
					</div>
				</div>
				<div class="right wow fadeInRight">
                    <span class="notice_bar"></span>
					<p class="year">2001</p>
					<div class="real_cont">
						<p><span>-노동부 실업자 재취업 훈련기관 선정</span></p>
					</div>
				</div>
				<div class="left wow fadeInLeft">
                    <span class="notice_bar"></span>
					<p class="year">2000</p>
					<div class="real_cont">
						<p><span>-노동부 실직자 재취업 훈련기관 선정</span></p>
						<p><span>-노동부 취업훈련분야 훈련기관 선정</span></p>
						<p><span>-하이미디어 컴퓨터디자인학원으로 상호변경</span></p>
						<p><span>-서울시 구로구 지정 고용촉진 훈련기관 선정</span></p>
						<p><span>-노동부 재직자 교육 훈련기관으로 선정</span></p>
						<p><span>-서울시 구로구 지정 고용 촉진 훈련기관 선정 </span></p>
					</div>
				</div>
				<div class="right wow fadeInRight">
                    <span class="notice_bar"></span>
					<p class="year">1999</p>
					<div class="real_cont">
						<p><span>- 서울시 구로구 지정 고용촉진 훈련기관 선정</span></p>
					</div>
				</div>
				<div class="left wow fadeInLeft">
                    <span class="notice_bar"></span>
					<p class="year">1998</p>
					<div class="real_cont">
						<p><span>-서울시 구로구 지정 고용촉진 훈련기관 선정</span></p>
						<p><span>-노동부 실직자 재취업 훈련기관 선정</span></p>
						<p><span>-노동부 재취업 교육기관 선정</span></p>
						<p><span>-교육부 주관 재취업 교육기관 선정</span></p>
						<p><span>-하이미디어 산디 학원부설 인터넷 무점포 창업연구소 개설 </span></p>
					</div>
				</div>
				<div class="right wow fadeInRight">
                    <span class="notice_bar"></span>
					<p class="year">1997</p>
					<div class="real_cont">
						<p><span>-하이미디어산업디자인학원 부설 인터넷 카페 하이넷 오픈</span></p>
					</div>
				</div>
				<div class="left wow fadeInLeft">
                    <span class="notice_bar"></span>
					<p class="year">1996</p>
					<div class="real_cont">
						<p><span>-하이미디어 산업디자인학원으로 상호변경</span></p>
					</div>
				</div>
				<div class="right wow fadeInRight">
                    <span class="notice_bar"></span>
					<p class="year">1995</p>
					<div class="real_cont">
						<p><span>-경인산업디자인 학원 확장이전</span></p>
						<p><span>-㈜비비컴 및 Macromedia Co.Ltd 공인학원지정</span></p>
						<p><span>-하이미디어 스쿨 멀티미디어 개발부 신설</span></p>
						<p><span>-하이미디어 시스템 멀티미디어 개발회사 독립창사</span></p>
					</div>
				</div>
				<div class="left wow fadeInLeft">
                    <span class="notice_bar"></span>
					<p class="year">1994</p>
					<div class="real_cont">
						<p><span>-㈜한국소프트웨어 유통센터 멀티미디어 유통센터 대리점 개설</span></p>
						<p><span>-하이미디어 유통센터 컴퓨터 도소매 및 소모품 취급</span></p>
						<p><span>-94 KIECO MULTIMEDIA SHOW 참여 삼성동 종합전시장</span></p>
					</div>
				</div>
				<div class="right wow fadeInRight">
                    <span class="notice_bar"></span>
					<p class="year">1993</p>
					<div class="real_cont">
						<p><span>-㈜한국소프트웨어 유통센터 멀티미디어 유통센터 지정 (제1호)</span></p>
						<p><span>-㈜엘렉스 컴퓨터 공인 멀티미디어 전문교육센터 (제1호)</span></p>
						<p><span>-경인산업디자인학원 인가</span></p>
						<p><span>-국내최초 1년제 정규과정 멀티미디어 CD-ROM Title 제작</span></p>
						<p><span>-경인산업디자인학원 개원식</span></p>
						<p><span>-서울지방철도청장 학교지정 (서지청208호)]</span></p>
						<p><span>-서울특별시 구로세무서 등록 사업개시</span></p>
						<p><span>-1993년 12월 13일 첫개강</span></p>
					</div>
				</div>
			</div>
		</div>
    </div>
    <!-- // 본문 -->
</div>
<script>
$(document).ready(function(){
	 $('.history_year button').click(function(){
		var year_index= $(this).index(); //버튼 횟수
		var top_year= ($(this).height()+37)*year_index;//상단에서 버튼높이 뽑기.
		var cont_index= $('.history_cont>div').eq(year_index).position(); //연도컨텐츠 상대위치 뽑기.
		var move_history =  -cont_index.top +top_year
		console.log(move_history)

        $(this).addClass('on').siblings().removeClass('on')
 		$('.history_cont').animate({'top': move_history},600)
	 })
})
</script>
{% endblock %}
