{% extends "./blocks/layout.html" %}
{% block content %}
    <div class="mypage">
        <div class="contents">
        <!-- 서브 네비 -->
        <div class="sub-navi">
            <a href="#"><span class="glyphicon glyphicon-home" aria-hidden="true"></span></a>
            <span>&#183;</span>
            <span class="this-page">마이페이지</span>
        </div>
        <!-- // 서브 네비 -->
        <div class="title-l">
            <div class="bg">
                <b>My Page</b>
            </div>
            <div class="text-box">
                <h1>마이페이지</h1>
                <p>회원님의 소중한 정보입니다</p>
            </div>
        </div>

        <div class="mypage-contents">
            <div>
                <img class="wow fadeInDown" data-wow-duration="1s" src="/img/site_img/finish_img.jpg" alt="" />
                <p><b>{{session.member.userName}}</b>님의 마이페이지입니다.</p>
            </div>
        </div>

        <ul>
            <li>
                <a href="myInfo.html">
                    <span class="info wow fadeInLeft" data-wow-duration="1s"></span>
                    <p>회원정보</p>
                </a>
            </li>

            <li>
                <a href="myInquiry.html">
                    <span class="qa wow fadeInRight" data-wow-duration="1s"></span>
                    <p>1:1 문의</p>
                </a>
            </li>
        </ul>
    </div>
{% endblock %}
