{% extends "./blocks/layout.html" %}
{% block content %}
<div class="postscriptView">
    <!-- 본문 -->
    <div class="contents">
        <!-- 서브 네비 -->
        <div class="sub-navi">
            <a href="#"><span class="glyphicon glyphicon-home" aria-hidden="true"></span></a><span>&#183;</span>
            <span>취업지원센터</span><span>&#183;</span>
            <span class="this-page">취업 후기</span>
        </div>
        <!-- // 서브 네비 -->

        <!-- 대제목 -->
        <div class="title-l">
            <div class="bg">Job Center</div>
            <div class="text-box">
                <h1>취업생 인터뷰</h1>
                <p>취업에 성공한 선배들의 생생한 인터뷰</p>
            </div>
        </div>
        <!-- // 대제목 -->
        <div class="postscriptView_bg">
            <div class="view_wrap">
                <p class="view_top"><span class="name">{{board.name}}</span>님의 취업생 인터뷰입니다.</p>
                <div class="view_cont">
                    <div class="view_who">
                        <p>
                            <span>
                                <span class="num">01.</span><span>WHO</span>
                            </span>
                        </p>
                        <ul class="who_cont">
                            <li class="icon1">
                                <p class="title">이름</p>
                                <p>{{board.name}}</p>
                            </li>
                            <li class="icon2">
                                <p class="title">수료캠퍼스</p>
                                <p>{{board.Branch.branchName}}캠퍼스</p>
                            </li>
                            <li class="icon3">
                                <p class="title">수료과정</p>
                                <p>{{board.courseName}}</p>
                            </li>
                            <li  class="icon4">
                                <p class="title">교육기간</p>
                                <p>{{board.courseDate}}</p>
                            </li>
                            <li class="icon5">
                                <p class="title">회사명</p>
                                <p>{{board.companyName}}</p>
                            </li>
                            <li class="icon6">
                                <p class="title">취업일</p>
                                <p>{{board.jobDate}}</p>
                            </li>
                        </ul>
                    </div>
                   <div class="interview_wrap video">
                       <p>
                           <span>
                               <span class="num">02.</span><span>interview</span>
                           </span>
                       </p>
                       <div class="video-wrapper ie8DisplayNone">
                           <video id="my-video" class="video-js" controls width="852" height="400">
                              <source src="/video/postscriptViewVideo2.mp4" type='video/mp4'>
                              <source src="/video/postscriptViewVideo2.ogg" type='video/ogg'>
                              <p class="vjs-no-js">
                                To view this video please enable JavaScript, and consider upgrading to a web browser that
                              </p>
                            </video>
                        </div>
                        <div class="ie8DisplayBlock" style="display:none;">
                            <p>
                                현재 브라우저는 비디오기능을 제공하지 않습니다. 업그레이드를 해주세요.
                            </p>
                        </div>
                   </div>
                </div>
                <div class="view_bottom">
                    <a class="prev" {% if prev %}href="postscriptViewVideo.html?interviewId={{prev}}&contentType=CONTENT_TYPE_VIDEO"{% endif %}><span class="icon arrow_left red">왼쪽 화살표</span>이전</a>
                    <a class="list" href="postscript.html">목록<span class="icon list red">리스트(목록)</span></a>
                    <a class="next" {% if next %}href="postscriptViewVideo.html?interviewId={{next}}&contentType=CONTENT_TYPE_VIDEO"{% endif %}>다음<span class="icon arrow red">오른쪽 화살표</span></a>
                 </div>
            </div>
        </div>


    </div>
    <!-- // 본문 -->
</div>
{% endblock %}
