{% extends "./blocks/layout.html" %}
{% block content %}
<div class="talentInfo">
    <!-- 서브 네비 -->
    <div class="sub-navi">
        <a href="#"><span class="glyphicon glyphicon-home" aria-hidden="true"></span></a>
        <span>&#183;</span>
        <a href="#">취업지원센터</a>
        <span>&#183;</span>
        <span class="this-page">인재 정보</span>
    </div>
    <!-- // 서브 네비 -->

    <div class="title-l">
    <div class="bg">Job Center</div>
    <div class="text-box">
        <h1>인재 정보</h1>
        <p>하이미디어에서 알려 드리는 인재 정보</p>
    </div>
</div>
    <div class="search_box">
        <div class="part">
            <input type="checkbox">웹디자인
        </div>
        <div class="part"></div>
        <div class="part"></div>
        <div class="part"></div>
        <div class="part"></div>
    </div>
</div>

{% endblock %}
