{% extends "./blocks/layout.html" %}
{% block content %}
<div class="allTeacher">
    <!-- 본문 -->
    <div class="contents">
        <!-- 서브 네비 -->
        <div class="sub-navi">
            <a href="#"><span class="glyphicon glyphicon-home" aria-hidden="true"></span></a><span>&#183;</span>
            <span>하이미디어</span><span>&#183;</span>
            <span class="this-page">전체 강사 소개</span>
        </div>
        <!-- // 서브 네비 -->

        <!-- 대제목 -->
        <div class="title-l">
            <div class="bg">Teacher</div>
            <div class="text-box">
                <h1>강사 소개</h1>
                <p>하이미디어 강남캠퍼스 강사진을 소개합니다.</p>
            </div>
        </div>
        <!-- // 대제목 -->
        <div class="sm-rect-btns-wrapper">
            <button class="sm-rect-btns active">전체 보기</button>
            <button class="sm-rect-btns">웹 디자인</button>
            <button class="sm-rect-btns">웹 퍼블리싱</button>
            <button class="sm-rect-btns">웹 개발</button>
            <button class="sm-rect-btns">편집 디자인</button>
            <button class="sm-rect-btns">회계 / 세무</button>
            <button class="sm-rect-btns">인테리어</button>
            <button class="sm-rect-btns">캐드</button>
            <button class="sm-rect-btns">영상</button>
            <button class="sm-rect-btns">OA</button>
        </div>

        <div class="allTeacher-basebox-wrapper">
            <div>
                <ul>
                    <li class="teacher-box">
                        <a href="#" class="modallink" modallink="teacher1">
                            <div class="teacher-pic" style="background-image:url('../img/site_img/img_allteacher1.jpg');"></div>
                            <div class="teacher-info">
                                <span class="teacher-title">전산세무/회계</span>
                                <span class="teacher-name">백소라 강사님</span>
                                <span class="teacher-class">스마트물류 ERP, 전산세무/회계</span>
                            </div>
                        </a>
                    </li>
                    <li class="teacher-box">
                        <a href="#" class="modallink" modallink="teacher1">
                            <div class="teacher-pic" style="background-image:url('../img/site_img/img_allteacher2.jpg');"></div>
                            <div class="teacher-info">
                                <span class="teacher-title">웹 디자인·웹 퍼블리싱</span>
                                <span class="teacher-name">김민철 강사님</span>
                                <span class="teacher-class">웹 퍼블리셔, 웹 디자인</span>
                            </div>
                        </a>
                    </li>
                    <li class="teacher-box">
                        <a href="#" class="modallink" modallink="teacher1">
                            <div class="teacher-pic" style="background-image:url('../img/site_img/img_allteacher1.jpg');"></div>
                            <div class="teacher-info">
                                <span class="teacher-title">전산세무/회계</span>
                                <span class="teacher-name">백소라 강사님</span>
                                <span class="teacher-class">스마트물류 ERP, 전산세무/회계</span>
                            </div>
                        </a>
                    </li>
                    <li class="teacher-box">
                        <a href="#" class="modallink" modallink="teacher1">
                            <div class="teacher-pic" style="background-image:url('../img/site_img/img_allteacher2.jpg');"></div>
                            <div class="teacher-info">
                                <span class="teacher-title">웹 디자인·웹 퍼블리싱</span>
                                <span class="teacher-name">김민철 강사님</span>
                                <span class="teacher-class">웹 퍼블리셔, 웹 디자인</span>
                            </div>
                        </a>
                    </li>
                    <li class="teacher-box">
                        <a href="#" class="modallink" modallink="teacher1">
                            <div class="teacher-pic" style="background-image:url('../img/site_img/img_allteacher1.jpg');"></div>
                            <div class="teacher-info">
                                <span class="teacher-title">전산세무/회계</span>
                                <span class="teacher-name">백소라 강사님</span>
                                <span class="teacher-class">스마트물류 ERP, 전산세무/회계</span>
                            </div>
                        </a>
                    </li>
                    <li class="teacher-box">
                        <a href="#" class="modallink" modallink="teacher1">
                            <div class="teacher-pic" style="background-image:url('../img/site_img/img_allteacher2.jpg');"></div>
                            <div class="teacher-info">
                                <span class="teacher-title">웹 디자인·웹 퍼블리싱</span>
                                <span class="teacher-name">김민철 강사님</span>
                                <span class="teacher-class">웹 퍼블리셔, 웹 디자인</span>
                            </div>
                        </a>
                    </li>
                    <li class="teacher-box">
                        <a href="#" class="modallink" modallink="teacher1">
                            <div class="teacher-pic" style="background-image:url('../img/site_img/img_allteacher1.jpg');"></div>
                            <div class="teacher-info">
                                <span class="teacher-title">전산세무/회계</span>
                                <span class="teacher-name">백소라 강사님</span>
                                <span class="teacher-class">스마트물류 ERP, 전산세무/회계</span>
                            </div>
                        </a>
                    </li>
                    <li class="teacher-box">
                        <a href="#" class="modallink" modallink="teacher1">
                            <div class="teacher-pic" style="background-image:url('../img/site_img/img_allteacher2.jpg');"></div>
                            <div class="teacher-info">
                                <span class="teacher-title">웹 디자인·웹 퍼블리싱</span>
                                <span class="teacher-name">김민철 강사님</span>
                                <span class="teacher-class">웹 퍼블리셔, 웹 디자인</span>
                            </div>
                        </a>
                    </li>
                    <li class="teacher-box">
                        <a href="#" class="modallink" modallink="teacher1">
                            <div class="teacher-pic" style="background-image:url('../img/site_img/img_allteacher1.jpg');"></div>
                            <div class="teacher-info">
                                <span class="teacher-title">전산세무/회계</span>
                                <span class="teacher-name">백소라 강사님</span>
                                <span class="teacher-class">스마트물류 ERP, 전산세무/회계</span>
                            </div>
                        </a>
                    </li>
                    <li class="teacher-box">
                        <a href="#" class="modallink" modallink="teacher1">
                            <div class="teacher-pic" style="background-image:url('../img/site_img/img_allteacher2.jpg');"></div>
                            <div class="teacher-info">
                                <span class="teacher-title">웹 디자인·웹 퍼블리싱</span>
                                <span class="teacher-name">김민철 강사님</span>
                                <span class="teacher-class">웹 퍼블리셔, 웹 디자인</span>
                            </div>
                        </a>
                    </li>
                    <li class="teacher-box">
                        <a href="#" class="modallink" modallink="teacher1">
                            <div class="teacher-pic" style="background-image:url('../img/site_img/img_allteacher1.jpg');"></div>
                            <div class="teacher-info">
                                <span class="teacher-title">전산세무/회계</span>
                                <span class="teacher-name">백소라 강사님</span>
                                <span class="teacher-class">스마트물류 ERP, 전산세무/회계</span>
                            </div>
                        </a>
                    </li>
                    <li class="teacher-box">
                        <a href="#" class="modallink" modallink="teacher1">
                            <div class="teacher-pic" style="background-image:url('../img/site_img/img_allteacher2.jpg');"></div>
                            <div class="teacher-info">
                                <span class="teacher-title">웹 디자인·웹 퍼블리싱</span>
                                <span class="teacher-name">김민철 강사님</span>
                                <span class="teacher-class">웹 퍼블리셔, 웹 디자인</span>
                            </div>
                        </a>
                    </li>
                    <li class="teacher-box">
                        <a href="#" class="modallink" modallink="teacher1">
                            <div class="teacher-pic" style="background-image:url('../img/site_img/img_allteacher1.jpg');"></div>
                            <div class="teacher-info">
                                <span class="teacher-title">전산세무/회계</span>
                                <span class="teacher-name">백소라 강사님</span>
                                <span class="teacher-class">스마트물류 ERP, 전산세무/회계</span>
                            </div>
                        </a>
                    </li>
                    <li class="teacher-box">
                        <a href="#" class="modallink" modallink="teacher1">
                            <div class="teacher-pic" style="background-image:url('../img/site_img/img_allteacher2.jpg');"></div>
                            <div class="teacher-info">
                                <span class="teacher-title">웹 디자인·웹 퍼블리싱</span>
                                <span class="teacher-name">김민철 강사님</span>
                                <span class="teacher-class">웹 퍼블리셔, 웹 디자인</span>
                            </div>
                        </a>
                    </li>
                    <li class="teacher-box">
                        <a href="#" class="modallink" modallink="teacher1">
                            <div class="teacher-pic" style="background-image:url('../img/site_img/img_allteacher1.jpg');"></div>
                            <div class="teacher-info">
                                <span class="teacher-title">전산세무/회계</span>
                                <span class="teacher-name">백소라 강사님</span>
                                <span class="teacher-class">스마트물류 ERP, 전산세무/회계</span>
                            </div>
                        </a>
                    </li>
                    <li class="teacher-box">
                        <a href="#" class="modallink" modallink="teacher1">
                            <div class="teacher-pic" style="background-image:url('../img/site_img/img_allteacher2.jpg');"></div>
                            <div class="teacher-info">
                                <span class="teacher-title">웹 디자인·웹 퍼블리싱</span>
                                <span class="teacher-name">김민철 강사님</span>
                                <span class="teacher-class">웹 퍼블리셔, 웹 디자인</span>
                            </div>
                        </a>
                    </li>
                    <li class="teacher-box">
                        <a href="#" class="modallink" modallink="teacher1">
                            <div class="teacher-pic" style="background-image:url('../img/site_img/img_allteacher1.jpg');"></div>
                            <div class="teacher-info">
                                <span class="teacher-title">전산세무/회계</span>
                                <span class="teacher-name">백소라 강사님</span>
                                <span class="teacher-class">스마트물류 ERP, 전산세무/회계</span>
                            </div>
                        </a>
                    </li>
                    <li class="teacher-box">
                        <a href="#" class="modallink" modallink="teacher1">
                            <div class="teacher-pic" style="background-image:url('../img/site_img/img_allteacher2.jpg');"></div>
                            <div class="teacher-info">
                                <span class="teacher-title">웹 디자인·웹 퍼블리싱</span>
                                <span class="teacher-name">김민철 강사님</span>
                                <span class="teacher-class">웹 퍼블리셔, 웹 디자인</span>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="btn-seemore">
                <button type="button">See more<span class="icon plus red"></span></button>
            </div>
        </div>
    </div>
    <!-- // 본문 -->
    <!-- Modal -->
    <div class="modalPopup" style="width:900px;" id="teacher1">
        <div class="modal-title text-right">
            <span class="title-box text-left">강사소개</span>
            <span class="close-box"><a href="#" class="modal-closeBtn">close&nbsp;&nbsp;&nbsp;&nbsp;<i class="icon close-x red"></i></a></span>
            <div class="clearfix"></div>
        </div>
        <div class="modal-body">
            <div class="col-xs-5 body-left">
                <div class="teacher_img" style="background-image: url('../img/site_img/img_modalteacher1.png');"></div>
                <div class="content-title">
                    <div class="sub-title">강남캠퍼스</div>
                    <div class="name">백소라 강사님</div>
                </div>
                <div class="content-detail">
                    <strong>강의분야</strong><br>
                        OA 실무 및 자격증(컴퓨터 활용능력,<br>
                        사무자동화, MOS, ITQ...) WEB DESIGN
                </div>
            </div>
            <div class="col-xs-7 body-right">
                <p>
                    <strong>경력</strong><br>
                    <경력 사항><br>
                    -berkshirehathaway, Scott Fetzer Companies, kirby 마케팅 팀장<br>
                    -labeayte 디자인 컴퍼니 이사<br>
                    -HM커뮤니케이션즈 기획팀<br>
                    -kc inter 마케팅 부장<br>
                    -JI international IR part 고문<br>
                    -sky management 협력 지원팀장<br>
                    -안양시 동안구청 세무과 과표팀 데이터 담당<br><br>

                    <주요 이력><br>
                    -하이미디어컴퓨터디자인학원 OA 강의(現)<br>
                    -대검찰청, 서울 중앙 지검 프레젠테이션 및 정보화 강의(現)<br>
                    -외환은행 전국 지점장 및 임원진 강의(現)<br>
                    -안양 평촌 공업고등학교 기계과 정보화 강의(現)<br>
                    -한국 이러닝 산업협회 평가위원(現)<br>
                    -인터넷 쇼핑몰 창업지도 및 강의<br>
                    -중,고,대학교 수업<br>
                    -경기도 쇼핑몰 창업 컨설팅<br>
                    -the hims 국내 기업물류 운송 데이터베이스 프로그램제작<br>
                    -the hims 국내 고객관리 데이터베이스 프로그램제작<br>
                    -대형 백화점 및 쇼핑몰 입점 계약<br>
                    -독립영화 연출 및 편집<br><br>

                    <strong>저서</strong><br>
                    MOS 2000 족보, MOS 2003족보, MOS 2007 족보, MOS 2010 족보
                </p>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<script>
    // see more 버튼 클릭시
    function seeMoreBtn(count){
        for(i=0;i<$('.teacher-box').length;i++){
            if( i%3 == 2 && i != 0){
                $('.teacher-box').eq(i).css('marginRight',0);
            }
            if($('.teacher-box').eq(i) && i >= count){
                $('.teacher-box').eq(i).removeClass('showOn');
            }else if($('.teacher-box').eq(i) && i < count){
                $('.teacher-box').eq(i).addClass('showOn');
            }
        }
    }
    seeMoreBtn(9);
    $('.btn-seemore button').click(function(){
        var aa = 0;
        for(i=0;i<$('.teacher-box').length;i++){
            if( $('.teacher-box').eq(i).attr('class').indexOf('showOn') != -1){
                aa++;
            }
        }
        console.log(aa)
        if(aa >= $('.teacher-box').length - 6){
            $('.btn-seemore button').css('display','none');
            seeMoreBtn(aa+6);
        }else{
            seeMoreBtn(aa+6);
        }
    });

    //modal

</script>
{% endblock %}
