{% extends "./blocks/layout.html" %}
{% block content %}
<div class="webDesign">
    <div class="contents">
        <!-- 서브 네비 -->
        <div class="sub-navi">
            <a href="#"><span class="glyphicon glyphicon-home" aria-hidden="true"></span></a>
            <span>·</span>
            <span>포트폴리오</span>
            <span>·</span>
            <span class="this-page">웹디자인·웹퍼블리싱</span>
        </div>
        <!-- // 서브 네비 -->

        <div class="title-l">
            <div class="bg">
                <b>Portfolio</b>
            </div>
            <div class="text-box">
                <h1>웹 디자인·웹 퍼블리싱</h1>
                <p>Himedia Computer Design Institute Web Design · Web Publishing Portfolio</p>
            </div>
        </div>

        <div class="portfolio-list">
            <div class="lists modallink" modallink="example1">
                <a href="#">
                    <img src="/img/site_img/pfweb_star.png" alt="" />
                    <div></div>
                    <img class="pofo_on" src="/img/icon/over.png" alt="" />
                    <div class="portfolio-name">
                        <span class="campus-name">강남캠퍼스</span>
                        <span class="portfolio-info">
						<span>박정은</span> &nbsp;&nbsp;
                        <span>|</span>&nbsp;&nbsp;
                        <span>디지털디자인B</span> &nbsp;&nbsp;
                        <span>|</span>&nbsp;&nbsp;
                        <span>개인포트폴리오</span>
                        </span>
                    </div>
                </a>
            </div>
        </div>

        <div class="portfolio-list">
            <div class="lists modallink wow fadeInUp" data-wow-duration="1s" modallink="example2">
                <a href="">
                    <img src="/img/site_img/pfweb_lexus.png" alt="" />
                    <img class="pofo_on" src="/img/icon/over.png" alt="" />
                    <div class="portfolio-name">
                        <span class="campus-name">강남캠퍼스</span>
                        <span class="portfolio-info">
						<span>박정은</span> &nbsp;&nbsp;
                        <span>|</span>&nbsp;&nbsp;
                        <span>디지털디자인B</span> &nbsp;&nbsp;
                        <span>|</span>&nbsp;&nbsp;
                        <span>개인포트폴리오</span>
                        </span>
                    </div>
                </a>
            </div>
        </div>

        <div class="portfolio-list">
            <div class="lists modallink wow fadeInUp" data-wow-duration="1s" modallink="example3">
                <a href="">
                    <img src="/img/site_img/pfweb_mycat.png" alt="" />
                    <img class="pofo_on" src="/img/icon/over.png" alt="" />
                    <div class="portfolio-name">
                        <span class="campus-name">강남캠퍼스</span>
                        <span class="portfolio-info">
						<span>박정은</span> &nbsp;&nbsp;
                        <span>|</span>&nbsp;&nbsp;
                        <span>디지털디자인B</span> &nbsp;&nbsp;
                        <span>|</span>&nbsp;&nbsp;
                        <span>개인포트폴리오</span>
                        </span>
                    </div>
                </a>
            </div>
        </div>

        <div class="portfolio-list">
            <div class="lists modallink wow fadeInUp" data-wow-duration="1s" modallink="example4">
                <a href="">
                    <img src="/img/site_img/pfweb_smart.png" alt="" />
                    <img class="pofo_on" src="/img/icon/over.png" alt="" />
                    <div class="portfolio-name">
                        <span class="campus-name">강남캠퍼스</span>
                        <span class="portfolio-info">
						<span>박정은</span> &nbsp;&nbsp;
                        <span>|</span>&nbsp;&nbsp;
                        <span>디지털디자인B</span> &nbsp;&nbsp;
                        <span>|</span>&nbsp;&nbsp;
                        <span>개인포트폴리오</span>
                        </span>
                    </div>
                </a>
            </div>
        </div>

        <div class="portfolio-list">
            <div class="lists modallink wow fadeInUp" data-wow-duration="1s" modallink="example5">
                <a href="">
                    <img src="/img/site_img/pfweb_soda.png" alt="" />
                    <img class="pofo_on" src="/img/icon/over.png" alt="" />
                    <div class="portfolio-name">
                        <span class="campus-name">강남캠퍼스</span>
                        <span class="portfolio-info">
						<span>박정은</span> &nbsp;&nbsp;
                        <span>|</span>&nbsp;&nbsp;
                        <span>디지털디자인B</span> &nbsp;&nbsp;
                        <span>|</span>&nbsp;&nbsp;
                        <span>개인포트폴리오</span>
                        </span>
                    </div>
                </a>
            </div>
        </div>

        <div class="pagination">
            <a href="#" class="first">처음</a> <a href="#" class="prev">이전</a> <span>
				<a href="#" class="on">1</a> <a href="#">2</a> <a href="#">3</a>
			</span> <a href="#" class="next">다음</a><a href="#" class="last">마지막</a>
        </div>
    </div>

    <div class="modalPopup" style="width:960px" id="example1">
        <!-- 타이틀 -->
        <div class="modal-title text-left">
            <div>
                <span>박정은</span>
                <span class="popUp-line">|</span>
                <span>디지털디자인B</span>
                <span class="popUp-line">|</span>
                <span>개인포트폴리오</span>
                <span class="popUp-line">|</span>
                <span>강남캠퍼스</span>
            </div>
            <div class="close-box"><a href="#" class="modal-closeBtn">close<i class="icon close-x red"></i></a></div>
        </div>

        <div class="modal-contents">

            <!-- 바디 -->
            <div class="modal-body">
                <div class="modal-main">
                    <img src="/img/site_img/pfweb_pop1.jpg" alt="" />
                </div>
                <button class="icon arrow-slide left">왼쪽으로</button>
                <button class="icon arrow-slide right">오른쪽으로</button>
            </div>

                <div class="boxP" id="box1">
                    <div>
                        <a href="http://www.i-make.kr:8080/STARBUCKS_jieun" target="_blank"><span>웹 사이트로 보기</span>&nbsp;
                        <div class="icon arrow red-mini">오른쪽 화살표</div></a>
                    </div>
                </div>
        </div>
    </div>

    <div class="modalPopup" style="width:960px" id="example2">
        <!-- 타이틀 -->
        <div class="modal-title text-left">
            <div>
                <span>박정은</span>
                <span class="popUp-line">|</span>
                <span>디지털디자인B</span>
                <span class="popUp-line">|</span>
                <span>개인포트폴리오</span>
                <span class="popUp-line">|</span>
                <span>강남캠퍼스</span>
            </div>

            <div class="close-box"><a href="#" class="modal-closeBtn">close<i class="icon close-x red"></i></a></div>
        </div>

        <div class="modal-contents">

            <!-- 바디 -->
            <div class="modal-body">
                <div class="modal-main">
                    <img src="/img/site_img/pfweb_pop2.jpg" alt="" />
                </div>
                <button class="icon arrow-slide left">왼쪽으로</button>
                <button class="icon arrow-slide right">오른쪽으로</button>
            </div>


                <div class="boxP" id="box1">
                    <div>
                        <a href="http://www.i-make.kr:8080/lexus" target="_blank"><span>웹 사이트로 보기</span>&nbsp;
                        <div class="icon arrow red">오른쪽 화살표</div></a>
                    </div>
                </div>

        </div>
    </div>

    <div class="modalPopup" style="width:960px" id="example3">
        <!-- 타이틀 -->
        <div class="modal-title text-left">
            <div>
                <span>박정은</span>
                <span class="popUp-line">|</span>
                <span>디지털디자인B</span>
                <span class="popUp-line">|</span>
                <span>개인포트폴리오</span>
                <span class="popUp-line">|</span>
                <span>강남캠퍼스</span>
            </div>

            <div class="close-box"><a href="#" class="modal-closeBtn" target="_blank"> close<i class="icon close-x red"></i></a></div>
        </div>

        <div class="modal-contents">

            <!-- 바디 -->
            <div class="modal-body">
                <div class="modal-main">
                    <img src="/img/site_img/pfweb_pop3.jpg" alt="" />
                </div>
                <button class="icon arrow-slide left">왼쪽으로</button>
                <button class="icon arrow-slide right">오른쪽으로</button>
            </div>


                <div class="boxP">
                    <div>
                        <a href="http://www.i-make.kr:8080/mycat/" target="_blank"><span>웹 사이트로 보기</span>&nbsp;
                        <div class="icon arrow red">오른쪽 화살표</div></a>
                    </div>
                </div>
        </div>
    </div>

    <div class="modalPopup" style="width:960px" id="example4">
        <!-- 타이틀 -->
        <div class="modal-title text-left">
            <div>
                <span>박정은</span>
                <span class="popUp-line">|</span>
                <span>디지털디자인B</span>
                <span class="popUp-line">|</span>
                <span>개인포트폴리오</span>
                <span class="popUp-line">|</span>
                <span>강남캠퍼스</span>
            </div>

            <div class="close-box"><a href="#" class="modal-closeBtn">close<i class="icon close-x red"></i></a></div>
        </div>

        <div class="modal-contents">

            <!-- 바디 -->
            <div class="modal-body">
                <div class="modal-main">
                    <img src="/img/site_img/pfweb_pop4.jpg" alt="" />
                </div>
                <button class="icon arrow-slide left">왼쪽으로</button>
                <button class="icon arrow-slide right">오른쪽으로</button>
            </div>


                <div class="boxP">
                    <div>
                        <a href="http://i-make.kr:8080/smart" target="_blank"><span>웹 사이트로 보기</span>&nbsp;
                        <div class="icon arrow red">오른쪽 화살표</div></a>
                    </div>
                </div>


        </div>
    </div>

    <div class="modalPopup" style="width:960px" id="example5">
        <!-- 타이틀 -->
        <div class="modal-title text-left">
            <div>
                <span>박정은</span>
                <span class="popUp-line">|</span>
                <span>디지털디자인B</span>
                <span class="popUp-line">|</span>
                <span>개인포트폴리오</span>
                <span class="popUp-line">|</span>
                <span>강남캠퍼스</span>
            </div>

            <div class="close-box"><a href="#" class="modal-closeBtn">close<i class="icon close-x red"></i></a></div>
        </div>

        <div class="modal-contents">

            <!-- 바디 -->
            <div class="modal-body">
                <div class="modal-main">
                    <img src="/img/site_img/pfweb_pop5.jpg" alt="" />
                </div>
                <button class="icon arrow-slide left">왼쪽으로</button>
                <button class="icon arrow-slide right">오른쪽으로</button>
            </div>


                <div class="boxP">
                    <div>
                        <a href="http://i-make.kr:8080/soda/html/main.jsp" target="_blank"><span>웹 사이트로 보기</span>&nbsp;
                        <div class="icon arrow red">오른쪽 화살표</div></a>
                    </div>
                </div>


        </div>
    </div>
</div>


{% endblock %}
