<script type="text/javascript">


angular.module('app').controller('myCtrl', ['$scope', '$rootScope', '$http', '$sce', '$stateParams', '$location',
	function($scope, $rootScope, $http, $sce, $stateParams, $location) {
	
		
		$scope.branchCode = $stateParams.branchCode ? $stateParams.branchCode : 'himedia';
		$scope.data = {
			currentPage : 1
		}
		$scope.pageSize = $rootScope.pageSize ? $rootScope.pageSize : "10";
		$scope.Math=Math;
		$scope.basePath = '#'+$location.$$path;
		
		console.log($location);

		$scope.loadData = function () {
			
			$http({
				method : "POST",
				url : "/admin/api/branchPopup",
				data : {
					page : $scope.data.currentPage,
					pageSize : $scope.pageSize,
					branchCode : $scope.branchCode
				}
			}).success(function(data) {
				console.log(data);
				$scope.data = data; 
			});
		};
		
		$scope.pageChanged = function (idx){
			$scope.loadData();
		};
		
		$scope.save = function () {
			
			$http({
				method : "POST",
				url : "/admin/api/branchPopup/save",
				data : {
					branchCode : $scope.branchCode,
					list : $scope.data.list2
				}
			}).success(function(data) {
				$scope.orderChanged = false;
				$scope.loadData();
			});
		};
		
		$scope.remove = function(index) {
			$scope.data.list2.splice(index, 1);	
			$scope.orderChanged = true;
		}
				
		$scope.sortableOptionsDest = {
			containment: '#sortable-container',
		    orderChanged: function (event) {
		    	$scope.orderChanged = true;
		    	
		    },
			accept: function (sourceItemHandleScope, destSortableScope, destItemScope) {
				if(sourceItemHandleScope.sortableScope == destSortableScope) return true;
				var popupId = sourceItemHandleScope.itemScope.modelValue.popupId;
				for(i=0;i<destSortableScope.modelValue.length;i++) {
					if(destSortableScope.modelValue[i].popupId == popupId) {
						return false;
					}
				}
				return true;
			}

		};
		
		$scope.sortableOptionsSrc = {
			containment: '#sortable-container',
		    itemMoved: function (event) {
		        $scope.orderChanged = true;
		        console.log($scope.data.list2);
		        
		        
		    },
		    clone: true
		};
			


	}]
);


</script>
<style>
.as-sortable-item, .as-sortable-placeholder {
	display: table-row !important;
}
.as-sortable-dragging {
    display: table !important;
    border-collapse: collapse; /* bootstrap table styling */
}

.as-sortable-dragging td {
    display: table-cell !important;
    padding: 8px; /* bootstrap table styling */
    line-height: 1.42857143; /* bootstrap table styling */
    vertical-align: top; /* bootstrap table styling */
}
</style>
<div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3">지점별 팝업관리</h1>
</div>
<div class="wrapper-md" ng-controller="myCtrl" ng-init="loadData()">
	<div class="row" id="sortable-container">
		<div class="col-sm-6">
		

		
			<div class="panel panel-default">
				<div class="panel-heading">지점별 팝업 목록</div>
						
				<div class="row wrapper">
					<div class="col-sm-12 pull-left">
						<select class="input-sm form-control w-sm inline v-middle" style="min-width:200px;" required="required"
							ng-options="branch.branchCode as branch.branchName for branch in branches2" 
							ng-selected="branchCode == branch.branchCode" 
							ng-model="branchCode" ng-change="loadData()">
						</select>
					</div>
				</div>										
				<div class="row wrapper" ng-show="data.totalCount">
					<div class="col-sm-6 text-left">
					
						총 {{data.list2.length}} 건
					</div>
					<div class="col-sm-6 text-right">
			
					</div>
				</div>
				<div class="table-responsive">
		
				
					<table id="table-container" class="table table-striped b-t b-light">
					    <thead>
					    <tr>
								<th width="10%" class=text-center>No</th>
								<th width="20%" class=text-left>팝업명</th>
								<th width="60%" class=text-left>이미지</th>
								<th width="10%" class=text-center></th>
					    </tr>
					    </thead>
					    <tbody data-ng-model="data.list2" as-sortable="sortableOptionsDest" ng-style="data.list2.length === 0 && {'min-height':'47px','display':'block'}  || data.list2.length > 0 && {'display':'table-inline'}">
						    <tr ng-repeat="item in data.list2" as-sortable-item>
									<td class="text-center" as-sortable-item-handle >{{$index+1}}</td>
									<td class="text-left"><a href="{{basePath}}/detail/{{item.popupId}}">{{item.popupName}}</a></td>
									<td class="text-left"><a href="{{basePath}}/detail/{{item.popupId}}"><img ng-src="{{item.AttachFile.url}}" style="width:430px;height:30px;"></a></td>
									<td>
										<a ng-click="remove($index)"><i class="fa fa-times text-danger text"></i></a>
						            </td>
						    </tr>
					    </tbody>
					</table>
				
				</div>
				<div class="row wrapper" ng-show="data.totalCount == 0">
					<div class="col-sm-12 text-center">
						등록/검색된 데이터가 없습니다.
					</div>
				</div>
				<footer class="panel-footer">
					<div class="row">
						<div class="col-sm-12 text-right">
						    <a class="btn btn-primary" ng-show="orderChanged" ng-click="save()">저장</a>
						</div>
					</div>
				</footer>
			</div>
		
		</div>
		<div class="col-sm-6">
		
		
			<div class="panel panel-default">
				<div class="panel-heading">전체 팝업 목록</div>
				<div class="row wrapper" ng-show="data.totalCount">
					<div class="col-sm-6 text-left">
					
						총 {{data.totalCount}} 건
					</div>
					<div class="col-sm-6 text-right">
			
					</div>
				</div>
				<div class="table-responsive">
		
				
					<table id="table-container" class="table table-striped b-t b-light">
					    <thead>
					    <tr>
								<th width="10%" class=text-center>No</th>
								<th width="20%" class=text-left>팝업명</th>
								<th width="70%" class=text-left>이미지</th>
					    </tr>
					    </thead>
					    <tbody data-ng-model="data.list" as-sortable="sortableOptionsSrc">
					    <tr ng-repeat="item in data.list" as-sortable-item>
								<td class="text-center" as-sortable-item-handle >{{data.totalCount - Math.floor((data.currentPage-1) * pageSize) - $index}}</td>
								<td class="text-left" as-sortable-item-handle>{{item.popupName}}</td>
								<td class="text-left"><a href="#/app/branch/popup/detail/{{item.popupId}}"><img ng-src="{{item.AttachFile.url}}" style="width:430px;height:30px;"></a></td>
					    </tr>
					    </tbody>
					</table>
				
				</div>
				<div class="row wrapper" ng-show="data.totalCount == 0">
					<div class="col-sm-12 text-center">
						등록/검색된 데이터가 없습니다.
					</div>
				</div>
				<footer class="panel-footer">
					<div class="row">
						<div class="col-sm-12 text-center">
						    <pagination boundary-links="true" class="m-t-none m-b-none"  ng-model="data.currentPage" max-size="10" total-items="data.totalCount" ng-change="pageChanged()" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" items-per-page="pageSize"></pagination>
						</div>
					</div>
				</footer>
			</div>
		
		</div>
	</div>
  

</div>
