.talentInfo {
    .search_box {
        width: 980px;
        height: 396px;
        background-color: @base-color;
        margin: 0 auto;
        
        .part{
            width: 250px;
            border-right: 1px black solid;
        }
    }
}